<div class="container my-4">




  <h3>Children</h3>
  <table class="table table-striped" style="text-align: center;">
    <thead>
    <tr>
      <th>Name</th>
      <th>Enrollment Status</th>
      <th>Systematic Exam Passed</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let child of children" [ngClass]="{'border border-danger': child.enrolled === 'EXAM_EXPIRED', 'p-2': child.enrolled === 'EXAM_EXPIRED'}">
      <td>{{ child.name }}</td>
      <td>{{ child.enrolled }}</td>
      <td>
        <span *ngIf="child.exam_done" class="text-success">✔</span>
        <span *ngIf="!child.exam_done" class="text-danger">✖</span>

      </td>
      <td class="text-danger mt-1" >
        <div  *ngIf="child.enrolled === 'EXAM_EXPIRED'">
          ⚠️ Systematic exam expired – action required. <br> Child cannot attend until the systematic exam is done.
        </div>
<!--        <button *ngIf="role === 'Patient/Parent' && child.enrolled != 'ENROLLED'" class="btn btn-sm btn-success" (click)="enrollChild(child.name)">-->
<!--          Enroll-->
<!--        </button>-->
      </td>
    </tr>
    </tbody>
  </table>

<br><br><br>
  <form *ngIf="role === 'Patient/Parent'" [formGroup]="enrollmentForm" (ngSubmit)="addChild()" class="mb-3">
    <div class="mb-2">
      <label for="childName" class="form-label">Child Name</label>
      <input id="childName" type="text" class="form-control" formControlName="name" placeholder="Enter child's name">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="enrollmentForm.invalid">
      Add
    </button>
  </form>
  <div *ngIf="showToast" class="toasttt">
    {{ toastMessage }}
  </div>
</div>
