/** {*/
/*  box-sizing: border-box;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  font-family: Arial, sans-serif;*/
/*  color: white;*/
/*}*/

/*body {*/
/*  background-color: #353133;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/

/*}*/



app-root {
  display: flex;
  flex-direction: column; /* vertical stacking */
  min-height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
}

main {
  flex: 1; /* router-outlet takes remaining space */
}

